body {
    margin: 0;
    background-image: url("/pattern.png");
    background-size: 100px;
}

#content{
    margin-top: 5vh;
    width: 40vh;
    min-height: 80vh;
    background: rgba(255,200,200, 0.8);
    border: rgb(255,150,150) solid 10px;
    border-radius: 25px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#content,#profile,body,#links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pfp{
    width: 25%;
    border-radius: 150px;
}

#profile{
    margin-bottom: 5vh;
}

p{
    height: 0.5vh;
    color: black;
}

.link{
    border: solid rgb(255,150,150) 5px;
    border-radius: 25px;
    background: rgba(150,255,150, 0.2);
    padding: 2vh;
    width: 200px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh;
    
}

.linkIMG{
    width: 5vh;
    filter: brightness(0%);
}

a{
    color: inherit;
    text-decoration: inherit;
}
