body {
    margin: 0;
}

#content{
    margin-top: 5vh;
    width: 80vw;
    min-height: 80vh;
    justify-content: space-between;
}

#content,#profile,body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pfp{
    width: 25vw;
    border-radius: 150px;
}

p{
    height: 0.5vh;
}

.link{
    border: solid red 1px;
    padding: 2vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
